:root {
	--cell-size: 100px;
	--mark-size:cal(var(--cell-size)*.9)
	--color: #95b6de; /* for hover */
	--color-set: #7ddad7; /* when set */
	--l: 10px; /* X line-width */
	background-color: rgb(99, 161, 236);
}

body{
	margin: 0;
}



p{
    color: #141517;
    font-size: 130%;
}

.board {
	/* width: 100vw; */
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto);
    vertical-align: bottom;
}

.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.winningMessageText{
	width: 100vw;
	height: 100vh;
}


.cell.x, .cell.o {
	cursor: not-allowed;
}


.cell:not(.o).x {
	background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
				linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}


.cell:not(.x).o {
	background: radial-gradient(var(--color-set) 60%, transparent 60%);
    background-repeat: no-repeat;
	background-position: center;
}


.winning-message {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-set);
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 5rem;
	font-family: 'Courier New', Courier, monospace;
	flex-direction: column;
}


.winning-message button {
	border-radius: 40px;
	font-size: 2rem;
	background-color: rgb(255, 255, 255);
	border: 1px solid var(--color-set);
	padding: .25em .5em;
	cursor: pointer;
}

.winning-message button:hover {
	background-color: var(--color-set);
	color: white;
	border-color: rgb(65, 127, 202);
}

.winning-message.show {
	display: flex;
}

#main {
	text-align: center;
	display: flex;
	flex-direction: column;

}

/*@media(min-width: 800px) {
	div{
		padding: 30px;
		padding-left: 30px;
		justify-content: center;
	}
	h1{
		font-size: 3.5rem;
	}
	
	p{
		font-size: 1.75rem;
	}
}

@media(max-width: 450px) {
	div{
		text-align: center;
		padding-top: 100px;
		padding-left: 0;
		padding-right: 0;
	}
	h1{
		padding-left: 50px;
		font-size: 1.75rem;
	}
	p{
		padding-left: 50px;
		font-size: 0.5rem;
	}*/

	
}
